venv/
__pycache__/
*.pyc
.vscode/

Trashbin/

Solver/fm_conflict.jar
Solver/Input
Solver/Output
Solver/Logs/


java/

# specific files that only stored locally
TempMinh.py
privateTest/
model1.py
model2.py
Models/