venv/
__pycache__/
*.pyc
java/

NN/Solver/fm_conflict.jar
NN/Solver/Input
NN/Solver/Output
NN/Solver/Logs/

NN/TrainingData/busybox/conflicts_126725.csv
NN/TrainingData/busybox/invalid_confs_126725.csv

# specific files that only stored locally
TempMinh.py
privateTest/
model1.py
model2.py
Models/

# others
jdk-24_windows-x64_bin/

